// Configuration
// @import '~bootstrap/scss/bootstrap';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$enable-shadows: false;
$body-bg: $orange;
// input
$input-font-weight: 600;
$input-placeholder-color: $orange-600;
$input-color: $orange-800;
$input-bg: $orange-400;
$input-focus-bg: $orange-200;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-padding-x: 1rem;
$input-border-radius: 2rem;
$input-border-color: $orange-600;
$input-focus-border-color: $orange-700;

$border-color: $orange-600;

// Card
$card-border-color: $orange-600;
$card-bg: $orange-400;
$card-border-radius: 1rem;
$card-inner-border-radius: 1rem;

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import '~bootstrap/scss/images';
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
// @import '~bootstrap/scss/buttons';
// @import '~bootstrap/scss/transitions';
// @import '~bootstrap/scss/dropdown';
// @import '~bootstrap/scss/button-group';
// @import '~bootstrap/scss/nav';
// @import '~bootstrap/scss/navbar';
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
// @import '~bootstrap/scss/close';
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";

@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/utilities/api";

@import "~animate.css/animate.css";

.img-card-list-comic {
  width: auto;
  height: 200px;
}
